/* Базовые стили для кнопки Наверх */
.scroll-to-top {
    position: fixed;
    bottom: 10vh;
    right: -60px;
    width: clamp(30px, 3vw, 50px);
    height: clamp(30px, 3vw, 50px);
    background-color: rgba(33, 33, 33, 0.5);
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
    /* Плавное скольжение и появление */
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);


    /* Цвет стрелки внутри кнопки */
    & svg {
        width: clamp(28px, 3vw, 40px);
        height: clamp(28px, 3vw, 40px);
        fill: #fff;
        transition: transform 0.1s ease;
    }

    /* Эффект при наведении курсора */
    &:hover {
        background-color: rgba(33, 33, 33, 0.9);
    }

    &:hover svg {
        transform: translateY(-3px);
        /* Стрелка немного смещается вверх */
    }

    /* Класс, который будет добавляться через JavaScript при скролле */
    &.show {
        right: 40px;
        opacity: 1;
        visibility: visible;
    }
}